<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="baseUtil.ExtentReporterNG"/>
</listeners>
  <test name="BookModule">
    <classes>
      <class name="testScripts.BookModuleTest"/>
    </classes>
  </test>
  <test name="TravelAgentModule">
    <classes>
      <class name="testScripts.TravelAgentLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
